// Base colors
$color-canvas: #211D1B;
$color-element: #36302E;
$color-scrollbar-thumb: #F9F3ED;
$color-scrollbar-track: #8D8D8D;

// Border colors
$color-border-primary: #56504D;

// Font colors
$text-primary: #F9F3ED;
$text-primary-inverted: #211D1B;
$text-secondary: #8D8D8D;
$text-notice: #FEFF00;
$text-success: #9EE800;
$text-error: #FB3333;

// Breakpoints
$md: 768px;
$lg: 992px;
$xl: 1200px;
