// Base colors
$color-canvas: #211d1b;
$color-element: #36302e;
$color-scrollbar-thumb: #f9f3ed;
$color-scrollbar-track: #8d8d8d;

// Border colors
$color-border-primary: #56504d;

// Font colors
$text-primary: #f9f3ed;
$text-primary-inverted: #211d1b;
$text-secondary: #8d8d8d;
$text-notice: #feff00;
$text-success: #9ee800;
$text-error: #fb3333;

// Font families
$josefin-sans: 'Josefin Sans', sans-serif;

// Breakpoints
$md: 768px;
$lg: 992px;
$xl: 1200px;
