@mixin visually-hidden {
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

@mixin scrollbar-styles($border-color: $color-canvas) {

  // For Chrome & Safari
  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  &::-webkit-scrollbar-thumb {
    background: $color-scrollbar-thumb;
    border-radius: 50px;
  }

  &::-webkit-scrollbar-track {
    background: $color-scrollbar-track;
    border-radius: 50px;
    border: 1px solid $border-color;
  }

  // Standard version (Firefox only for now)
  scrollbar-color: $color-scrollbar-thumb $color-scrollbar-track;
}

@mixin blurred-bg($bg-color) {
  background-color: rgba($color: $bg-color, $alpha: 0.5);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
}

@mixin songs-list {
  @include hidden-list-marks;
  display: flex;
  flex-direction: column;
  row-gap: 18px;

  >li {
    background-color: $color-element;
    border-radius: 20px;
    display: flex;
    gap: 12px;
    justify-content: space-between;
    padding: 12px;

    .options {
      align-self: center;
    }
  }
}

@mixin song-details {
  display: flex;
  flex-direction: column;
  gap: 4px;
  justify-content: center;
  width: 100%;

  .song-title {
    color: $text-primary;
    font-weight: 700;
    padding: 0;
    text-align: left;
  }

  .song-artist {
    color: $text-secondary;
    font-size: .75rem;
  }

  @media (min-width: 992px) {
    .song-title {
      font-size: 1.25rem;
    }

    .song-artist {
      font-size: 1rem;
    }
  }
}

@mixin progress-bar {
  align-items: center;
  display: flex;
  gap: 12px;
  width: 100%;

  .bar {
    position: relative;
    width: 100%;

    .bar-bg {
      background-color: $color-scrollbar-track;
      border-radius: 50px;
      height: 4px;
      left: 0;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
    }

    input {
      background: transparent;
      cursor: pointer;
      height: 8px;
      border-radius: 50px;
      background-image: linear-gradient($color-scrollbar-thumb, $color-scrollbar-thumb);
      background-size: 0% 100%;
      background-repeat: no-repeat;
      appearance: none;
      -webkit-appearance: none;
      position: relative;
      width: 100%;
      z-index: 1;

      /* Input Thumb */
      &::-webkit-slider-thumb {
        appearance: none;
        -webkit-appearance: none;
        width: 12px;
        height: 12px;
        background-color: transparent;
        border-radius: 50px;
      }

      &::-moz-range-thumb {
        appearance: none;
        -webkit-appearance: none;
        width: 12px;
        height: 12px;
        background-color: transparent;
        border-radius: 50px;
      }

      &::-ms-thumb {
        appearance: none;
        -webkit-appearance: none;
        width: 12px;
        height: 12px;
        background-color: transparent;
        border-radius: 50px;
      }
    }

  }

  span {
    white-space: nowrap;
    min-width: 35px;

    &.time-remaining {
      text-align: right;
    }
  }
}

@mixin btn-secondary {
  background-color: $color-element;
  border-radius: 50px;
  display: block;
  padding: 18px 36px;
  text-align: center;
}

@mixin hidden-list-marks {
  list-style: none;
  padding: 0;
}

@mixin form-element {
  position: relative;

  >label {
    font-size: 0.875rem;
    color: $text-secondary;
    position: relative;

    input,
    select,
    textarea {
      background-color: transparent;
      border-color: $text-secondary;
      border-width: 0 0 1px 0;
      color: $text-primary;
      font-size: 1rem;
      padding: 12px 0;
      color-scheme: dark;
      margin-bottom: 24px;

      &:not([type='checkbox']) {
        width: 100%;

        &:focus {
          border-color: $text-primary;
          outline: 0;

          &::placeholder {
            opacity: 0;
          }
        }

        &:hover {
          border-color: $text-primary;

          &::placeholder {
            color: $text-primary;
          }
        }

        &::placeholder {
          color: $text-secondary;
          font-family: "Josefin Sans", sans-serif;
          font-weight: 500;
        }
      }
    }

    button {
      position: absolute !important;
      right: 0;
      top: 1.5rem !important;
    }
  }
}

@mixin form-element-error {
  span[role="alert"] {
    position: absolute;
    bottom: 0;
    color: $text-error;
    left: 0;

    &::first-letter {
      text-transform: uppercase;
    }
  }
}

@mixin user-photo {
  border-radius: 50%;
  height: 100%;
  object-fit: cover;
  width: 100%;
}

@mixin album-cover {
  border-radius: 20px;
  height: 260px;
  background-size: cover;
  margin-bottom: 12px;
  width: 260px;
}