@font-face {
  font-family: 'Josefin Sans';
  font-weight: 500;
  font-style: normal;
  font-display: auto;
  src: local('JosefinSans'), url("/fonts/JosefinSans-Medium.ttf") format("truetype");
}

@font-face {
  font-family: 'Josefin Sans';
  font-weight: 700;
  font-style: normal;
  font-display: auto;
  src: local('JosefinSans'), url("/fonts/JosefinSans-Bold.ttf") format("truetype");
}