@font-face {
  font-family: 'Josefin Sans';
  font-weight: 500;
  font-style: normal;
  font-display: auto;
  unicode-range: U+000-5FF;
  src: local('Josefin Sans'),
    url("/fonts/JosefinSans-Medium.woff2") format("woff2"),
    url("/fonts/JosefinSans-Medium.woff") format("woff");
}

@font-face {
  font-family: 'Josefin Sans';
  font-weight: 700;
  font-style: normal;
  font-display: auto;
  unicode-range: U+000-5FF;
  src: local('Josefin Sans'),
    url("/fonts/JosefinSans-Bold.woff2") format("woff2"),
    url("/fonts/JosefinSans-Bold.woff") format("woff");
}

h2 {
  font-size: 2rem;
  line-height: 2rem;
}